@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  min-height: auto;
  width: auto;
  background: rgb(32, 32, 32);
  background-image: url(https://cdn.wallpapersafari.com/15/67/7PjpMU.gif);
  padding-top: 5rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.heading span {
  text-transform: uppercase;
  color: rgb(51, 57, 110);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background:rgb(105, 163, 113);
  padding: .7rem;
  font-size: 1.7rem;
  color: #fff;
  padding-left: 2rem;
}

.btn i {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.7rem;
  text-align: center;
  background: #fff;
  color: rgb(51, 57, 110);
  border-radius: 50%;
  margin-left: 1rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.btn:hover i {
  margin-left: 2rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: #1a1a1a;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.navbar a i {
  color:  rgb(51, 57, 110);
  padding-right: .5rem;
}

.navbar a:hover {
  background: rgb(51, 57, 110);
}

.navbar .active {
  background:  rgb(51, 57, 110);
}

.navbar .active i {
  color: #fff;
}

.navbar a:hover i {
  color: #fff;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 4rem;
  min-height: calc(100vh - 15rem);
}

.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  text-align: center;
}

.home .image img {
  height: 50rem;
  width: 50rem;
  /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
}

.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home .content h3 {
  color: rgb(224, 224, 224);
  font-size: 4rem;
  padding-bottom: .5rem;
}

.home .content span {
  font-size: 3rem;
  color: rgb(224, 224, 224);
  padding: .5rem 0;
  display: block;
}

.home .content p {
  font-size: 1.5rem;
  color: rgb(180, 180, 180);
  padding: 1rem 0;
  line-height: 2;
}

.About .row .w3 {
  font-size: large;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  font-weight: 800;
}

.About .row .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  text-align: center;
}

.About .row .box h3 {
  font-size: 1.7rem;
  color: #fff;
  padding: 1rem 0;
  font-weight: normal;
  text-align: center;
}

.About .row .box h3 span {
  color: rgb(105, 163, 113);
  font-weight: normal;
  text-align: center;
}

.skills .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.skills .box-container .box {
  padding: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: .5rem;
  background:  rgb(108, 138, 112)
}

.skills .box-container .box img {
  height: 7rem;
  margin-bottom: 1rem;
}

.skills .box-container .box h3 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
  text-transform: uppercase;
}

.Projects p {
  color: #fff;
  font-size: 1.7rem;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}


@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 12vw;
  }

  .navbar a i {
    padding: 0;
  }

  .navbar a span {
    display: none;
  }

  .navbar a:hover {
    padding-bottom: 2rem;
  }

  .home {
    text-align: center;
    gap: 2rem;
  }

  .home .image img {
    height: 30rem;
    width: 30rem;
  }

  .home .content h3 {
    font-size: 3rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}


body{
  font-family: Helvetica, Arial, sans-serif;
}
.container{
  width: 50%;
  margin: 0 auto;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #a6cfe3;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}
